.logo {
  width: 150px;
}


.bg-black {
  color: #000;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}


.navbar-toggler-icon {
  background-color: #fff;
}

img {
  width: 100%;
}
.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.logo {
    width: 150px;
    height: 150px;

    
}


.menu {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
  justify-content: center;
  width: 60%;
  height: auto;
  flex-wrap: wrap;
}

.menu-item a{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: bold;
  transition: all 0.5s ease;
  list-style-type: none;
}



html {
  font-size: 62,5%;
  padding: 3%;

}

ul {
  list-style-type: none;

}

a {
  text-decoration: none;
  color: black;

}

.banner-container {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 1.5rem;
}


.fraseinicio {
  margin-top: 6rem;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;  
}


.nosotros {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;  
}



.nosotros-titulo {
  font-family: "Roboto", sans-serif;
    font-weight: 520;
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
  
}



.servicios-titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 520;
  display: flex;
  padding: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  
}

.servicios {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 1.5rem;
  text-align: center;
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  flex: 1 1 clamp(300px, 30%, 400px);
}

.servicio-title {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  text-align: center;
}


.contactar {
  border: none;
  padding: 1rem 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;

}

.contactar a {
  position: relative;
  z-index: 2;
  color: black;
  text-decoration: none;
}



.footer {
  margin-top: 6rem;
  border-top: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box-footer {
  display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.footer p {
    font-size: 1rem;
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.redes {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;  

}

i {
  font-size: 2rem;

}

.instagram, .tiktok, .whatsapp {
  color: white;
  padding: 1rem;
  border-radius: 30%;
}

.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

}
.whatsapp {
  background-color: rgb(17, 146, 17);
}
.tiktok {
  background-color: black;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;700&display=swap' ) 


